.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.headline-one {
  margin-left: 10px;
  justify-content: space-between;
}

.headline-two {
  display: flex;
}

/* fab */

.fab-style {
  position: absolute;
  bottom: 15;
  right: 15;
}
